/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

header{
  color: blue;
  font-size: 100px;
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
